.form {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 100%;
    font-size: 1.2rem;
  }
  
  select {
    display: block;
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 100%;
    font-size: 1.2rem;
  }
  
  button {
    display: block;
    margin: 1rem auto;
  }
  