.select {
    width: 100%; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc;
    background-color: #fff; 
  }
  

  .select:after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #999;
  }
  

  .select option {
    font-size: 16px; 
  }
  